body {
	background-color: #fff;
	color: #333;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0 auto 0 auto;
	max-width: 800px;
}

a {
	color: #069;
	text-decoration: none;
}

a:hover {
	background-color: #eee;
}

h1, h2, h3, h4 {
	margin: 1em 1ex 0.5ex 0;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 1.0em;
}

#menu {
	clear: both;
	margin: 1.5em 0 0 0;
	padding: 0.5em 0 0.5em 0;
	font-size: 0.9em;
	max-width: 800px;
	border-bottom: 1px solid #999;
}

#menu a {
	padding: 0.5em 0.7em 0.5em 0.7em;
}

#menu a.thisSite {
	color: #333;
	font-weight: bold;
	background-color: #fff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	border-bottom: 1px solid #fff;
}

#header {
	clear: both;
	color: #666;
	float: left;
	border-left: 1px solid #999;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.7em;
}


#content {
	clear: both;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-height: 300px;
}

#nav {
	float: right;
	margin: 0 0 2em 1em;
	padding: 0;
	width: 200px;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li a {
	display: block;
	font-size: 0.9em;
	margin: 0;
	padding: 0.6em;
	border-left: 1px solid #999;
}

#nav li a.thisPath {
	color: #333;
	font-weight: bold;
}

#nav li a.thisPage {
	background-color: #fff;
	color: #333;
	font-weight: bold;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #fff;
}

#main {
	margin: 0em;
	padding: 0.5em 1em;
	max-width: 800px;
	border-top: 1px solid #999;
}

#footer {
	clear: both;
	color: #999;
	border-top: 1px solid #999;
	font-size: 0.7em;
	padding: 0.5em 0.7em 0.5em 0.7em;
	margin: 0 0 1.5em 0;
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

.right {
	float: right;
	margin: 0;
	padding: 0;
}
